@media (max-width: 600px) {

    html {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        height: 100%;
    }

    body{
        background-size: cover;
    }

    .tela{
        margin: 15% 10%;
        padding: 2em; 
    }

    #real, #calcula, #moedas{
        width: 80%;
        height: 2rem;
    }

}